
html, body { 
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 0%;
}

.container-fluid, .row {
	padding: 0 !important;
	margin: 0 !important;
	width: 100%;
	height: 100%;
}

*[class^="col-"] {padding: 0 !important;}
*[class^="section"] {
	padding: 0 !important;
	margin: 0 !important;
	width: 99vw;
	height: 100vh;
	}

nav {
	background-color: rgba(233, 236, 239, 0);
	a {
		color: #3B5F81 !important;
		font-family: 'Cabin', sans-serif;
	}
}


.section-1 {
		background-image: url("../img/8513_argentina_lauraaustin_0542.jpg");
		background-size: cover;

	.header {
  	display: flex !important;
  	flex-direction: column !important;
  	justify-content: center !important;
  	align-items: center !important;
  	text-align: center;
	padding: 0 !important;
	margin: auto !important;
	color: #3B5F81 !important;
	background-color: rgba(233, 236, 239, 0) !important;

		.title {
			align-self: center !important;
			margin: auto;
			width: 50%;
			font {
				family: 'Istok Web', sans-serif;
				size: 80px;
				weight: 200;
			}
		}

		a {color: #3B5F81 !important;}
	}
}

.section-2 {

	.separationWhite {
	background-color: #fff;
	height: 200px;
}

	p {
		color: #3B5F81 !important;
		font {
			family: 'Cabin', sans-serif;
			
			line-height: 30px;
		}
	}

	nav {
		margin: 10px;
		line-height: 21px;

		.pagination {
			margin: 0;

			a {
				color: #3B5F81;
				font-family: 'Cabin Condensed', cursive; 
			}
		}
	}

	.card {
		margin-top: 20px !important;
		text-align: justify;
    	text-justify: inter-word;
		min-height: 370px !important;
		background-color: transparent !important;
		border: 0 !important;	
	}
}

.section-3 {
	
	
	h1,h2 { 
		margin: 50px;
		display: flex !important;
		justify-content: center !important;
		color: #3B5F81 !important;

		font {
			family: 'Istok Web', sans-serif;
		}
	}

	p {
		display: flex !important;
		justify-content: center !important;
		color: #3B5F81 !important;
		font {
			family: 'Cabin', sans-serif;
			line-height: 30px;
		}
	}

	nav {
		margin: 15px;
	}
}

.section-5 {
	#reservationOut {
		text-align: right;

		.btnOut {
			background-color: #FF703F;
			border: none;
		}
	}

	#reservationIn {
		text-align: left;

		.btnIn {
			background-color: #FF703F;
			border: none;
		}
	}

	.jumbotron {
		display: flex;
		background-color: rgba(233, 236, 239, 0) !important;
		color: #3B5F81;
		margin: 0;
		padding: 2rem 1rem;

		h1 {
			justify-content: left;
			size: 25px !important;
			font {
				family: 'Cabin Condensed', cursive; 
				weight: 500;
			}

		}

		p {
			font {
				family: 'Lora', serif;
				line-height: 30px;
			}
		}
	}
}
