@font-face {
  font-family: Odachi;
  src: url(fonts/Odachi/Odachi.woff); }
html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%; }

.container-fluid, .row {
  padding-top: 3.125em !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100%; }

.container-fluid {
  padding-top: 3.125em !important; }

*[class^="col-"] {
  padding: 0 !important; }

*[class^="section"] {
  padding: 0 !important;
  margin: 0 !important;
  width: 100vw;
  height: 100vh; }

#mainNav {
  background-color: #fff;
  border-bottom: 1px solid #e1eaed; }
  #mainNav a {
    color: #3B5F81 !important;
    font-family: "Istok Web", sans-serif; }
    #mainNav a #logo {
      height: 4em;
      width: auto; }

/*-----------------------HOMEPAGE-----------------------*/
#homepage {
  padding-bottom: 14.5em;
  background-image: url("../img/8513_argentina_lauraaustin_0542.jpg");
  background-size: cover; }
  #homepage .title {
    text-align: center;
    padding: 0 !important;
    margin: auto !important;
    color: #3B5F81 !important;
    background-color: rgba(233, 236, 239, 0) !important;
    height: 31.25em; }
    #homepage .title .name {
      margin: auto;
      width: 50%;
      size: 9.375em !important;
      color: #fff;
      text-shadow: 2px 2px 4px #000;
      font-family: "Odachi", sans-serif;
      font-size: 9em; }
    #homepage .title a {
      padding-top: 80px;
      color: #fff;
      text-shadow: 2px 2px 4px #000;
      font-family: "Istok Web", sans-serif;
      font-size: 2em; }
      #homepage .title a span {
        margin-top: 460px;
        position: absolute;
        top: 0;
        left: 50%;
        width: .9em;
        height: .9em;
        margin-left: -.75em;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: scrolldown 1.5s infinite;
        animation: scrolldown 1.5s infinite;
        box-sizing: border-box; }
@-webkit-keyframes scrolldown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0; } }
@keyframes scrolldown {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0; } }
/*-----------------------ABOUT-----------------------*/
#about {
  padding-top: 3.125em !important;
  margin-bottom: 12.5em !important; }
  #about h1 {
    padding-bottom: 1em;
    text-shadow: 2px 2px 4px #e1eaed;
    display: flex !important;
    justify-content: center !important;
    color: #3B5F81 !important;
    font-family: "Odachi", sans-serif; }
  #about .intro {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    text-align: center !important;
    color: #3B5F81;
    line-height: 1em;
    text-align: center;
    font-size: 1.2em;
    font-family: "Fjalla One", sans-serif; }
  #about p {
    margin: 0;
    color: #3B5F81 !important;
    letter-spacing: .1em;
    font-family: "Istok Web", sans-serif;
    font-line-height: 1.5em; }
  #about .card {
    border: 0 !important; }
  #about #text2 {
    text-align: justify;
    text-justify: inter-word;
    min-height: 15em !important;
    max-height: 15em !important;
    background-color: transparent !important; }
  #about .imageRow, #about #imgS2 {
    min-height: 26.25em !important;
    max-height: 26.25em !important; }

/*-----------------------MENU-----------------------*/
#menu {
  margin-top: 26.25em; }
  #menu h1 {
    padding-top: 50px !important;
    text-shadow: 2px 2px 4px #e1eaed;
    display: flex !important;
    justify-content: center !important;
    color: #3B5F81 !important;
    font-family: "Odachi", sans-serif; }
  #menu ul, #menu li {
    border-radius: 0 !important;
    margin-bottom: 0 !important; }
    #menu ul h2, #menu li h2 {
      padding-top: 3.125em !important;
      text-shadow: 2px 2px 4px #e1eaed;
      display: flex !important;
      justify-content: center !important;
      color: #3B5F81 !important;
      font-family: "Fjalla One", sans-serif;
      font-size: 1.5em; }
    #menu ul p, #menu li p {
      padding-top: 3.125em !important;
      padding-left: 12.5em;
      padding-right: 12.5em;
      text-align: center;
      display: flex !important;
      justify-content: center !important;
      color: #3B5F81 !important;
      font-family: "Istok Web", sans-serif;
      font-line-height: 1.875em; }
    #menu ul span, #menu li span {
      padding-top: 1.875em !important;
      padding-bottom: 1.875em !important;
      display: flex !important;
      justify-content: center !important; }

/*-----------------------GALLERY-----------------------*/
#gallery {
  margin-left: .5em !important; }
  #gallery .row {
    padding: 1.5em !important; }
  #gallery h1 {
    padding-bottom: 2em;
    padding-left: 6em;
    text-shadow: 2px 2px 4px #e1eaed;
    display: flex !important;
    justify-content: end !important;
    color: #3B5F81 !important;
    font-family: "Odachi", sans-serif; }
  #gallery #galleryPhotos {
    margin-top: 7em; }
  #gallery #galleryText p {
    margin: 2em;
    padding-left: 4em;
    padding-right: 2em;
    padding-top: .2em !important;
    text-align: justify !important;
    letter-spacing: .1em;
    display: flex !important;
    justify-content: center !important;
    color: #003E4F !important;
    font-family: "Fjalla One", sans-serif;
    font-line-height: 2em; }
  #gallery .pagination {
    margin-top: .938em; }

#map {
  margin-top: 4.375em !important; }

/*-----------------------RESERVATION + CONTACT-----------------------*/
#reservation {
  padding-top: 4.375em !important;
  padding-bottom: 6.25em;
  background-color: #003E4F; }
  #reservation h1 {
    text-shadow: 2px 2px 4px #000;
    font-family: "Odachi", sans-serif;
    font-size: 3em;
    color: #fff;
    text-align: center;
    margin-top: 5rem; }
  #reservation #resa h1 {
    text-shadow: 2px 2px 4px #e1eaed;
    color: #3B5F81 !important; }
  #reservation #resa iframe {
    margin-top: 3.75em; }
  #reservation #contact {
    padding: 6.25em; }
    #reservation #contact input[type=Name], #reservation #contact input[type=Email], #reservation #contact input[type=PhoneNumber], #reservation #contact textarea {
      padding: .625em;
      border-bottom: 1px solid #e1eaed !important;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      color: #e1eaed !important; }
    #reservation #contact input:focus, #reservation #contact textarea {
      outline: none !important;
      background-color: transparent !important; }
    #reservation #contact ::-webkit-input-placeholder {
      /*Chrome/Opera/Safari */
      color: #e1eaed;
      opacity: 0.8 !important; }
    #reservation #contact ::-moz-placeholder {
      /* Firefox 19+ */
      color: #e1eaed;
      opacity: 0.8 !important; }
    #reservation #contact :-ms-input-placeholder {
      /* IE 10+ */
      color: #e1eaed;
      opacity: 0.8 !important; }
    #reservation #contact :-moz-placeholder {
      /* Firefox 18- */
      color: #e1eaed;
      opacity: 0.78 !important; }
    #reservation #contact input[type=submit] {
      border: 1px solid #e1eaed;
      text-shadow: 2px 2px 2px #000;
      background-color: transparent;
      color: #e1eaed;
      margin-top: 10% !important;
      margin-left: 40% !important;
      font-family: "Fjalla One", sans-serif;
      font-size: 1.5em;
      font-weight: bold; }

#footer {
  padding-top: 1rem;
  background-color: #e1eaed;
  height: 8rem;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 1em; }

/*# sourceMappingURL=style.css.map */
